<!DOCTYPE html >
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(titulo)">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title th:text="${titulo}">Home</title>
</head>

<body>
<header th:fragment="header">
    <nav class="navbar bg-primary" data-bs-theme="dark">
        <form class="container-fluid justify-content-start">
            <a th:href="@{/entradas}" class="btn btn-warning btn-lg" style="color: whitesmoke;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-check" viewBox="0 0 16 16">
                    <path d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                </svg>
                Entradas
            </a>
            <a th:href="@{/cadastro}" class="btn btn-success btn-lg" style="color: whitesmoke;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus-fill" viewBox="0 0 16 16">
                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM8.5 8.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5a.5.5 0 0 1 1 0z"/>
                </svg>
                Cadastro
            </a>
            <a th:href="@{/buscar}" class="btn btn-secondary btn-lg" style="color: whitesmoke;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-week-fill" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zM8.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM3 10.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                </svg>
                Buscar
            </a>
        </form>
    </nav>
</header>




<a th:href="@{/cadastro}">Voltar</a>

<script th:fragment="funcoes">
    function mascaraCpf(mascara, input) {
    const vetMask = mascara.split("")
    const numCpf = input.value.replace(/\D/g, "")
    const cursor = input.selectionStart
    const tecla = (window.event) ? event.keyCode : event.which

    for (let i = 0; i < numCpf.length; i++) {
      vetMask.splice(vetMask.indexOf("_"), 1, numCpf[i])
    }
    input.value = vetMask.join("")
    if (tecla != 37 && (cursor == 3 || cursor == 7 || cursor == 11)) {
      input.setSelectionRange(cursor + 1, cursor + 1)
    } else {
      input.setSelectionRange(cursor, cursor)
    }
  }

  function mascaraCel(mascara, input) {
    const vetMask = mascara.split("")
    const numCel = input.value.replace(/\D/g, "")
    const cursor = input.selectionStart
    const tecla = (window.event) ? event.keyCode : event.which

    for (let i = 0; i < numCel.length; i++) {
      vetMask.splice(vetMask.indexOf("#"), 1, numCel[i])
    }
    input.value = vetMask.join("")
    if (tecla != 37 && (cursor == 1 || cursor == 3 || cursor == 9)) {
      input.setSelectionRange(cursor + 1, cursor + 1)
    } else {
      input.setSelectionRange(cursor, cursor)
    }

  }

  function mascaraFixo(mascara, input){
          const vetMask = mascara.split("")
          const numTel = input.value.replace(/\D/g, "")
          const cursor = input.selectionStart
          const tecla = (window.event) ? event.keyCode : event.which

          for (let i = 0; i < numTel.length; i++){
              vetMask.splice(vetMask.indexOf("#"), 1, numTel[i])
          }
          input.value = vetMask.join("")
          if (tecla != 37 && (cursor == 1 || cursor == 3 || cursor ==8)){
              input.setSelectionRange(cursor+1, cursor+1)
          } else {
              input.setSelectionRange(cursor, cursor)
          }

  }

</script>

<footer th:fragment="footer">
  <p>Copyright © 2023 Caixa Beneficente | Powered by T.I Caixa Beneficente</p>
</footer>

</body>
</html>