    body{
        margin: auto;
      }

      header{
        text-align: center;
        margin: auto;
      }

      div{
        background-color: aliceblue;
        padding: 20px;
        font-weight: bold;
      }

      legend {
        font-weight: bolder;
      }

      nav > a{
        size: 40px;
      }

      .cb-required > .form-label:after{
        content: "*";
      }

      fieldset{
        padding: 10px;
      }

      footer{
        padding: 10px;
        color: black;
        height: 50px;
      }

