    body{

        width: 1200px;
        margin: auto;
      }

      header{
        text-align: center;
        margin: auto;
      }

      div{
        background-color: aliceblue;
        padding: 10px;
      }