    body{

        width: 1300px;
        margin: auto;
      }

      header{
        text-align: center;
        margin: auto;
      }

      div{
        background-color: aliceblue;
        padding: 10px;
        font-weight: bold;
      }

      legend {
        font-weight: bolder;
      }

      nav > a{
        size: 40px;
      }

      .cb-required > .form-label:after{
        content: "*";
      }

