<!DOCTYPE html >
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragmentos/fragmento :: head('Buscar')"></head>

<body>
<header th:replace="../fragmentos/fragmento :: header"></header>

    <fieldset>
        <legend>
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" type="button" disabled style="font-size: 20px;">
                    buscar por Rg, Nome ou Cpf
                </button>
            </div>
        </legend>
        <div>
            <div class="row">
                <div class="alert alert-danger" th:text="${mensagem}"
                     th:if="${not #strings.isEmpty(mensagem)}">
                </div>
                <form action="buscarRg" method="post" id="buscarPorRg" class="col s3">
                    <label for="rg">Buscar Rg: </label>
                    <input type="text"  id="rg" name="rg" required placeholder="Digite rg sem pontos">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
                <form action="buscarNome" method="post" id="buscarPorNome" class="col s3">
                    <label for="nome">Buscar Nome: </label>
                    <input type="text"  id="nome" name="nome" required>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
                <form action="buscarCpf" method="post" id="buscarPorCpf" class="col s3">
                    <label for="cpf">Buscar Cpf: </label>
                    <input type="text"  id="cpf" name="cpf" onkeyup="mascaraCpf('___.___.___-__', this)" required placeholder="Digite cpf sem pontos">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>
    </fieldset>
    <table  class="table table-striped" th:if="${not #strings.isEmpty(lista)}">
        <tr>
            <th>Rg:</th>
            <th>Nome:</th>
            <th>Cpf:</th>
            <th>Tel. Celular:</th>
            <th>Tel. Fixo</th>
            <th>Categoria:</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="entrada : ${lista}">
            <td th:text="${entrada.rg}"></td>
            <td th:text="${entrada.nome}"></td>
            <td th:text="${entrada.cpf}"></td>
            <td th:text="${entrada.celular}"></td>
            <td th:text="${entrada.telefone}"></td>
            <td th:text="${entrada.categoria}"></td>
            <td><a class="btn btn-primary" th:href="@{/editarCadastro/{idCadastro}(idCadastro=${entrada.id})}">Editar</a></td>
            <td><a class="btn btn-danger"  th:data-confirm-delete="|Você tem certeza que deseja excluir: ${entrada.nome} ?|"
                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false" th:href="@{/excluirCadastro/{idCadastro}(idCadastro=${entrada.id})}">Excluir</a></td>
        </tr>
    </table>

<script th:replace="../fragmentos/fragmento :: funcoes"></script>
<footer th:replace="../fragmentos/fragmento :: footer"></footer>
</body>
</html>