<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
  <script crossorigin="anonymous"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js">

  </script>
  <style th:replace="fragmento :: style"></style>
</head>
<body>
<header th:replace="fragmento :: header"></header>
<div class="container" th:fragment="cad">
  <div class="row">
    <form action="/adc" class="col s12" method="post" th:object="${objCadastro}">
      <div class="row">
        <div class="input-fiel col s6">
          <label class="form-label" for="rg">Rg</label>
          <input class="form-control" id="rg" name="rg" placeholder="Digite rg sem pontos" type="text" th:field="*{rg}">
        </div>
        <div class="input-fiel col s6">
          <label class="form-label" for="nome">Nome</label>
          <input class="form-control" id="nome" name="nome" placeholder="Nome" type="text" th:field="*{nome}">
        </div>
      </div>
      <div class="row">
        <div class="input-fiel col s6">
          <label class="form-label" for="cpf">cpf</label>
          <input autocomplete="off" class="form-control" id="cpf" name="cpf" onkeyup="mascaraCpf('___.___.___-__', this)"
                 placeholder="Digite cpf sem pontos" type="text" th:field="*{cpf}">
        </div>
        <div class="input-fiel col s6">
          <label class="form-label">Categoria</label>
          <select class="form-select" aria-label="Default select example" name="categoria">
            <option th:each="categorias : ${listaCategorias}"
                    th:value="${categorias}" th:text="${categorias}" th:field="*{categoria}"></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-fiel col s6">
          <label class="form-label" for="celular">Telefone Celular:</label>
          <input autocomplete="off" class="form-control" id="celular" name="celular"
                 onkeyup="mascaraCel('(##)#####-####', this)" placeholder="Celular" type="text" th:field="*{celular}">
        </div>
        <div class="input-fiel col s6">
          <label class="form-label" for="telefone">Telefone Fixo:</label>
          <input autocomplete="off" class="form-control" id="telefone" name="telefone"
                 onkeyup="mascaraFixo('(##)####-####', this)" placeholder="Telefone fixo" type="text" th:field="*{telefone}">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
      <a class="btn btn-danger" th:href="@{/adc/cadastro}">Cancelar</a>
    </form>

  </div>
</div>
<script th:replace="fragmento :: funcoes"></script>
</body>
</html>