<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
</head>
<body>


    <form action="buscarData" method="get" id="salvarData" class="col s3">
        <label for="dataInicial">Data Inicial</label>
        <input type="date" id="dataInicial" name="dataInicial">
        <label for="dataFinal">Data Final</label>
        <input type="date" id="dataFinal" name="dataFinal">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</body>
</html>