<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
</head>
<body>


    <form action="buscarData" method="get" id="salvarData" class="col s12">
        <div class="row">
            <div class="col-md-6 form-group offset-md-3">
                <label for="dataInicial">Data Inicial</label>
                <input class="form-control col-md-1" type="date" id="dataInicial" name="dataInicial">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group offset-md-3">
                <label for="dataFinal">Data Final</label>
                <input class="form-control col-md-1" type="date" id="dataFinal" name="dataFinal">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Buscar</button>
    </form>
</body>
</html>