<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmento :: head('Detalhes')"></head>

<body>

<header th:replace="fragmento :: header"></header>

<div>
    <div class="row">
        <form class="col s12" method="post" th:object="${objCadastro}">
            <div class="row">
                <div class="input-fiel col s6">
                    <label class="form-label" for="rg">Rg do Associado</label>
                    <input class="form-control" id="rg" th:field="*{rg}"  disabled="">
                </div>
                <div class="input-fiel col s6">
                    <label class="form-label" for="nome">Nome</label>
                    <input class="form-control" id="nome" disabled="" th:field="*{nome}">
                </div>
            </div>
            <div class="row">
                <div class="input-fiel col s6">
                    <label class="form-label" for="cpf">cpf</label>
                    <input autocomplete="off" class="form-control" id="cpf" disabled="" th:field="*{cpf}">
                </div>
                <div class="input-fiel col s6">
                    <label class="form-label" for="telefone">Telefone Fixo:</label>
                    <input autocomplete="off" class="form-control" id="telefone" disabled="" th:field="*{telefone}">
                </div>
                <div class="input-fiel col s6">
                    <label class="form-label">Categoria</label>
                    <select class="form-select" aria-label="Default select example" name="categoria" disabled="">
                        <option th:each="categorias : ${listaCategorias}"
                                th:value="${categorias}" th:text="${categorias}" th:field="*{categoria}"></option>
                    </select>
                </div>
            </div>
            <a class="btn btn-danger" th:href="@{/entradas}">Voltar</a>
        </form>

    </div>
</div>
<footer th:replace="fragmento :: footer"></footer>
</body>

</html>